# Logs
.venv
*.pyc
*.mp3
*.wav
*.egg-info
*.egg-info/*
gdrive-creds.json
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/backend/venv
.env
backend/src/testimony_backend.egg-info/PKG-INFO
